code/emceeCode/.tmp/*.npy
code/emceeCode/condor
code/emceeCode/__pycache__/
code/emceeCode/check_progress.ipynb
**/.ipynb_checkpoints/
**/__pycache__/
code/emceeCode/.tmp0/
code/input/galaudage-data/
figures/*.pdf
figures/*.npy
