code/emceeCode/.tmp/
code/emceeCode/condor
code/emceeCode/.ipynb_checkpoints/
code/emceeCode/__pycache__/
code/emceeCode/check_progress.ipynb
**/.ipynb_checkpoints/
**/__pycache__/
code/input/galaudage-data/
figures/*.pdf
figures/*.npy
data/*.json
data/*.cdf
code/input/*.pickle
